<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246132011158-6ggfmnt091b5cnf5b78qtjk7s3nm9og7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246132011158-6ggfmnt091b5cnf5b78qtjk7s3nm9og7</string>
	<key>API_KEY</key>
	<string>AIzaSyB-WAr1aPftWgTFJEyDAj1jxH5aZtTn0xA</string>
	<key>GCM_SENDER_ID</key>
	<string>246132011158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.done</string>
	<key>PROJECT_ID</key>
	<string>done-66af5</string>
	<key>STORAGE_BUCKET</key>
	<string>done-66af5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246132011158:ios:8b0018f454ea23b2fd12b7</string>
</dict>
</plist>